html {
	min-width: 1200px;
	overflow: auto;
}

body{
background-image:url('../img/office/office.png');
background-color:#cccccc;
} 

a{
	outline: 0px;
}

#link{
	width: 100%;
	font-family: 'Pathway Gothic One';
	line-height: 50px;
	color: #2980b9;
}

	#link span{
		font-size: 50px;
		font-weight: bold;
		text-decoration: none;
		color: #ffffff;
	}

	#link a:hover {
		text-decoration: none;
		color: #ffffff;
	}

	#link a {
		font-size: 45px;
		margin: 15px;
	}

	#link a:visited {
		text-decoration:none;
		color: #2980b9;
	}

	#link a:active {
		text-decoration:none;
		color: #2980b9;
	}

	#link a:focus {
		outline: 0px;
		text-decoration:none;
		color: #2980b9;
	}


#content {
	color: #ffffff;
	padding-top: 15px;
	height: 500px;
	text-align: left;
	min-width: 960px;
}

	#content h1 {
		padding-left: 15px;
	}

#pane {
	padding-top: 20px;
	margin: 0px auto;
	width: 80%;
	height: 600px;
}

	#images {
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
	}

	#description {
		padding-left: 30px;
		width: 45%;
		height: 100%;
		float: left;
		color: #ffffff;
	}

		#description p {
			font-size: 18px;
			line-height: 32px;
		}

		#description span {
			font-size: 24px;
			line-height: 200%;
		}

	/*The following is from Ivan Lazarevic's '4 Line Image gallery with JQery'*/

	#overall{
	 width: 500px;
	 height: 405px;
	 border: 8px solid white;
	 margin: 0px auto;
	}

	#thumbs { 
	 padding-top: 10px;
	}

	#thumbs img {
	 height: 90px;
	 width: 120px;
	 border: 5px solid white;
	 cursor: pointer;
	}

	#thumbs img {
	 margin: 0px 5px;
	 max-width: 150px;
	}

	#img_text {
	 background: #ffffff;
	 color: #000000;
	 max-width: 100%;
	 border: 8px solid white;
	 text-align: left;
	}


#shell {
	margin: 0px auto 30px auto;
	padding: 20px 0px 0px 0px;
	background-color: #ecf0f1;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#holder {
	text-align: left;
	margin: 0px auto;
}


#tab{
	margin-left: 15px;
	background-color: #ffffff;
}

.thumbnail{
	height: 400px;
}

#button{
	outline: 0px;
}
