html {
	min-width: 1025px;
	overflow: auto;
}

body
{
background-image:url('../img/office/office.png');
background-color:#cccccc;
} 

#link{
	width: 100%;
	font-family: 'Pathway Gothic One';
	line-height: 50px;
}

	#link span{
		font-size: 50px;
		font-weight: bold;
		text-decoration: none;
		color: #ffffff;
	}

	#link a:hover {
		text-decoration: none;
		color: #ffffff;
	}

	#link a {
		font-size: 45px;
		margin: 15px;
	}

#content {
	color: #ffffff;
	padding-top: 15px;
	height: 500px;
	text-align: left;
	min-width: 960px;
}

	#content h1 {
		padding-left: 15px;
	}

#pane {
	padding-top: 20px;
	margin: 0px auto;
	width: 90%;
	height: 525px;
	border-bottom: 3px solid #cccccc;
}

	#images {
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
	}

	#description {
		width: 50%;
		height: 100%;
		float: left;
		color: #ffffff;
	}

		#description p {
			padding-left: 30px;
			font-size: 18px;
		}

		#description span {
			font-size: 24px;
			line-height: 200%;
		}

	#panel {
	max-width: 500px;
	min-width: 350px;
	margin: 0px auto;
	}

	/*The following is from Ivan Lazarevic's '4 Line Image gallery with JQery'*/

	#thumbs { 
	 margin: 0px auto;
	 padding-top: 10px;
	 padding-left: 20px;
	 width: 90%;
	}

	#thumbs img, #largeImage {
	 border: 8px solid white;
	 cursor: pointer;
	}

	#thumbs img {
	 margin: 0px 5px;
	 max-width: 150px;
	 width: 20%;
	}

	#img_text {
	 background: #ffffff;
	 color: #000000;
	 padding: 8px;
	 width: 100%;
	}


#tab{
	margin-left: 15px;
	background-color: #ffffff;
}

#shell {
	margin: 20px auto;
}

#holder {
	text-align: left;
	margin: 0px auto;
}


